/* カラーパレット用オリジナル色（アウトライン） */
.btn-outline-orange1 {
  color: #e89005;
  border-color: #e89005;
}
.btn-outline-orange1:hover,
.btn-check:checked + .btn-outline-orange1 {
  background-color: #e89005;
  color: #fff;
}

.btn-outline-orange2 {
  color: #ec7505;
  border-color: #ec7505;
}
.btn-outline-orange2:hover,
.btn-check:checked + .btn-outline-orange2 {
  background-color: #ec7505;
  color: #fff;
}

.btn-outline-orange3 {
  color: #d84a05;
  border-color: #d84a05;
}
.btn-outline-orange3:hover,
.btn-check:checked + .btn-outline-orange3 {
  background-color: #d84a05;
  color: #fff;
}

.btn-outline-orange4 {
  color: #f42b03;
  border-color: #f42b03;
}
.btn-outline-orange4:hover,
.btn-check:checked + .btn-outline-orange4 {
  background-color: #f42b03;
  color: #fff;
}
/* 黄緑 (#A7C957) アウトラインボタン */
.btn-outline-fresh {
  color: #A7C957;
  border-color: #A7C957;
}
.btn-outline-fresh:hover,
.btn-check:checked + .btn-outline-fresh {
  background-color: #A7C957;
  color: #fff;
}

/* 黄緑 (#A7C957) 塗りつぶしボタン */
.btn-fresh {
  background-color: #A7C957;
  color: #fff;
  border: 1px solid #A7C957;
}
.btn-fresh:hover {
  background-color: #94b74d;
  color: #fff;
}
/* ネイビー (#05204A) 塗りつぶしボタン */
.btn-navy {
  background-color: #05204A;
  color: #fff;
  border: 1px solid #05204A;
}
.btn-navy:hover {
  background-color: #031530; /* 少し濃い色でホバー */
  color: #fff;
}
/* 水色 (#86BBD8) 塗りつぶしボタン */
.btn-skyblue {
  background-color: #86BBD8;
  color: #fff;
  border: 1px solid #86BBD8;
}
.btn-skyblue:hover {
  background-color: #6ea6c5; /* 少し濃くしてホバー */
  color: #fff;
}
/* ブルー (#507DBC) 塗りつぶしボタン */
.btn-ocean {
  background-color: #507DBC;
  color: #fff;
  border: 1px solid #507DBC;
}
.btn-ocean:hover {
  background-color: #3f65a0; /* 少し濃いブルーでホバー */
  color: #fff;
}
/* シアンブルー (#06BEE1) 塗りつぶしボタン */
.btn-cyan {
  background-color: #06BEE1;
  color: #fff;
  border: 1px solid #06BEE1;
}
.btn-cyan:hover {
  background-color: #05a6c5; /* 少し濃いブルーでホバー */
  color: #fff;
}
/* グレイッシュブルー (#4B6E8B) 塗りつぶし */
.btn-steelblue {
  background-color: #4B6E8B;
  color: #fff;
  border: 1px solid #4B6E8B;
}
.btn-steelblue:hover {
  background-color: #3b586f; /* 少し濃い色でホバー */
  color: #fff;
}

/* グレイッシュブルー (#4B6E8B) アウトライン */
.btn-outline-steelblue {
  color: #4B6E8B;
  border: 1px solid #4B6E8B;
  background-color: transparent;
}
.btn-outline-steelblue:hover,
.btn-check:checked + .btn-outline-steelblue {
  background-color: #4B6E8B;
  color: #fff;
}
body {
  font-family: 'Noto Sans JP', sans-serif;
}

